@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('src/assets/forest1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-container {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

